/* Tailwind Configuration */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.poppinsFont {
  font-family: 'Poppins', sans-serif;
}
.linearGradient {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 21.67%, rgba(0, 0, 0, 0.97) 100%);;
}
.gameBoxShadow {
  filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.3));
}